<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<ul>
    {{range .}}
        <li>{{.Name}}-{{.Address}}-{{.City}}-{{.Zip}}-{{.Region}}</li>
    {{end}}
</ul>
</body>
</html>