<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{range $_, $item := .}}
    <li>{{$item.Name}} - {{$item.Motto}}</li>
    {{end}}
</ul>
</body>
</html>