<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<ul>
    {{range .}}
        <li>
            {{.AcaYear}}
            <ul>
                <li>{{.Fall.Term}}</li>
                <ul>
                    {{range .Fall.Courses}}
                        <li>{{.Number}}-{{.Name}}-{{.Units}}</li>
                    {{end}}
                </ul>
                <li>{{.Spring.Term}}</li>
                <ul>
                    {{range .Spring.Courses}}
                        <li>{{.Number}}-{{.Name}}-{{.Units}}</li>
                    {{end}}
                </ul>
            </ul>


        </li>
    {{end}}
</ul>


</body>
</html>